<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
	<link rel="stylesheet" data-th-href="@{/css/output.css}"/>
</head>
<body>
	<div th:insert="~{base :: parent(~{:: p})}">
		<p>
			jai jai shree ram
		</p>
	</div>
	<h1 data-th-text="${name}">heello </h1>
	<div class="bg-black text-white">Home</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>