<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>
      Search Page
    </title>
  </head>
  <body>
    <div id="content">
      <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
      </div>
        <div class="contacts_container p-5 w-full max-w-7xl mx-auto">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                
            <form data-th-action="@{'/user/contacts/search'}">
                <div class="pt-5 pl-5 pb-4 bg-white dark:bg-gray-900">
                    <div class="flex items-end space-x-4">
                        <!-- Action Div -->
                        <div class="flex space-x-4 items-center">
                            <!-- Dropdown Menu -->
                            <div class="relative flex-1">
                                <select name="field" class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option selected>Select Field</option>
                                    <option value="name">Name</option>
                                    <option value="email">Email</option>
                                    <option value="phone">Phone</option>
                                </select>
                            </div>
                    
                            <!-- Search Input -->
                            <div class="relative">
                                <label for="table-search-users" class="sr-only">Search</label>
                                <input name="keyword" type="text" id="table-search-users" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search...">
                            </div>
                    
                            <!-- Submit Button -->
                            <button type="submit" class="px-4 py-2 rounded-lg bg-gray-500 text-white hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Submit
                            </button>
                        </div>
                    </div>
                    
                </div>
            </form>
            
            

            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">Name</th>
                        <th scope="col" class="px-6 py-3">Phone</th>
                        <th scope="col" class="px-6 py-3">Links</th>
                        <th scope="col" class="px-6 py-3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                        data-th-object="${c}"
                        data-th-each="c : ${pageContact.getContent()}"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        
                        <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                            <img class="w-10 h-10 rounded-full" alt="Jese image" data-th-src="@{*{pictures}}">
                            <div class="ps-3">
                                <div class="text-base font-semibold" data-th-text="*{name}">Neil Sims</div>
                                <div class="font-normal text-gray-500" data-th-text="*{email}">neil.sims@flowbite.com</div>
                            </div>  
                        </th>

                        <td class="px-6 py-4">
                            <i class="fa-solid fa-phone w-4 h-4"></i>
                            <span data-th-text="*{phoneNumber}"></span>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex items-center">
                                <div data-th-if="*{favourite}" class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
                                <a data-th-href="@{*{websiteLink}}" target="_blank">
                                    <i class="fa-solid w-5 h-5 fa-link"></i>
                                </a>
                                <a class="pl-2" data-th-href="@{*{linkedlndLink}}" target="_blank">
                                    <i class="fa-brands w-6 h-6 fa-linkedin"></i>
                                </a> 
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <a href="#"><i class="fa-solid w-6 h-6 fa-trash"></i></a>
                            <a href="#"><i class="fa-solid w-6 h-6 fa-pen"></i></a>
                            <a href="#"><i class="fa-solid w-6 h-6 fa-eye"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <!-- Pagination -->
            <div class="pagination_container p-5 text-center">
                <nav aria-label="Page navigation example">
                    <ul class="inline-flex -space-x-px text-base h-10">
                        <li data-th-unless="${pageContacts.first}">
                            <a data-th-href="@{'/user/contacts/view?&page='+(${pageContacts.number-1})}" href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                        </li>
                        <li data-th-each="index :  ${#numbers.sequence(0,pageContacts.totalPages-1)}">
                            <a data-th-href="@{'/user/contacts/view?page='+${index}}" href="#" data-th-classappend="${index==pageContacts.number? 'bg-blue-50  dark:bg-gray-600' : 'bg-white dark:bg-gray-800'}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span data-th-text="${index+1}"></span>
                            </a>
                        </li>
                        <li data-th-unless="${pageContacts.last}">
                            <a data-th-href="@{'/user/contacts/view?page='+(${pageContacts.number+1})}" href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
        </div>
        </div>
    </div>

    <script>
      console.log("this is profile page");
    </script>
  </body>
</html>